<!--  app/views/events/show.html.erb -->
<h2>Details about <em><%= @event.title %></em></h2>

<ul id="details">
  <li>
    freebie:
    <%= @event.freebie %>
  </li>
  <li>
    Taking place on:
    <%= @event.event_date.strftime("%B %d, %Y") %>
  </li>
</ul>
<p><%= @event.likes.count %> <%= (@event.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @event.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', event_like_path(@event, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', event_likes_path(@event), method: :post %>
<% end %>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<h3>More Info:</h3>
<p id="image">

  <img src= <%= @event.image %> alt="No image found" style="width:300px;height:300px;">
</p>

<div class="row">
  <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary col-2' %>
  <%= link_to 'Delete', event_path(@event), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-2' %>
  <!--<%= link_to 'Share', share_path(@event), class: 'btn btn-primary col-2' %>-->
  <!--Sources:
  https://stackoverflow.com/questions/14251193/auto-copy-to-the-clipboard-when-a-button-is-clicked-in-rails-3

https://stackoverflow.com/questions/49618618/copy-current-url-to-clipboard 

https://stackoverflow.com/questions/7633723/calling-a-ruby-method-via-a-button 

https://apidock.com/rails/ActionView/Helpers/UrlHelper/link_to 

https://stackoverflow.com/questions/17243200/how-to-call-a-controller-method-from-a-button-in-rails-4 

https://stackoverflow.com/questions/17243200/how-to-call-a-controller-method-from-a-button-in-rails-4 

https://stackoverflow.com/questions/22937676/how-do-i-call-a-javascript-function-from-an-html-erb 
-->

  <!--<button class = 'btn btn-primary col-2', id = 'share' onclick = "shareFunction()"> Copy Shareable Link to Clipboard </button>-->
  <%= link_to 'Back to event list', events_path, class: 'btn btn-primary col-2' %>
</div>

<!--
<script type = "text/javascript">
  function shareFunction(){
    //Citations: 
    //https://stackoverflow.com/questions/49618618/copy-current-url-to-clipboard
    //https://www.w3schools.com/jsref/jsref_replace.asp 
    var dummy = document.createElement('input'),
    text = window.location.href;
    text = text.replace("events","events/share");
    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand('copy');
    document.body.removeChild(dummy);
  };
</script>
-->